<div class="js-post-id">{{id}}</div>
<div id="respond" class="comment-respond">
	<h2 id="reply-title" class="comment-reply-title">HI COMMENTS</h2>
	<form action="http://vunchies.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
		<p class="comment-form-comment">
			<label for="comment">Comment</label>
			<textarea name="comment" id="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
		</p>
		<p class="form-submit">
			<input type="hidden" value="7752001683" id="_wp_unfiltered_html_comment_disabled">
		</p>
	</form>
</div>

<ol class="comment-list">
</ol>

{{!-- {{yield}} --}}
