<div class="Detail">
	<h1 class="Detail-title">Peanut Butter Cheescake Cup</h1>
	<h3 class="Detail-subtitle">7 ingredient vegan, gluten free cheesecakes that are creamy, slightly tart, perfectly sweet and 100% irresistible.</h3>
	{{detail-grid}}
</div>

{{outlet}}
