/**
 * Fonts
 */

// font-sizes
$font-14: rem(14);
$font-15: rem(16);
$font-17: rem(17);
$font-20: rem(20);
$font-25: rem(25);
$font-30: rem(30);
$font-35: rem(35);
$font-40: rem(40);
$font-50: rem(50);
