{{#link-to 'detail' class="Teaser-wrap"}}
	<figure class="Teaser-media">
		<img class="lazyload"
				{{!-- src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" --}}
				alt=""
				src="http://cdn.minimalistbaker.com/wp-content/uploads/2015/08/EASY-2-Ingredient-Dark-Chocolate-VEGAN-TRUFFLES-Creamy-rich-SO-delicious-vegan-glutenfree-chocolate-truffles-coconut-dessert.jpg" />
	</figure>
	<div class="Teaser-body">
		<h2 class="Teaser-title">Super awesome something</h2>
	</div>
{{/link-to}}
{{#link-to 'detail' class="Teaser-wrap"}}
	<figure class="Teaser-media">
		<img class="lazyload"
				{{!-- src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" --}}
				alt=""
				src="https://s-media-cache-ak0.pinimg.com/474x/9a/41/65/9a41659bdaaa824a58f9377e125d6eda.jpg" />
	</figure>
	<div class="Teaser-body">
		<h2 class="Teaser-title">Gingernut Biscuit</h2>
		<p>#ginger #cookie #nut</p>
	</div>
{{/link-to}}
{{#link-to 'detail' class="Teaser-wrap"}}
	<figure class="Teaser-media">
		<img class="lazyload"
				{{!-- src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" --}}
				alt=""
				src="https://s-media-cache-ak0.pinimg.com/474x/62/5b/bc/625bbc4eec3dc7c4fee20f86f8a4fab0.jpg" />
	</figure>
	<div class="Teaser-body">
		<h2 class="Teaser-title">African Peanut Soup</h2>
		<p>#peanut #rice #kale</p>
	</div>
{{/link-to}}
{{#link-to 'detail' class="Teaser-wrap"}}
	<figure class="Teaser-media">
		<img class="lazyload"
				{{!-- src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" --}}
				alt=""
				src="https://static1.squarespace.com/static/546ab118e4b020f024f62077/54f4d9c8e4b0a2a4bf5bcbe5/54f4da13e4b0a2a4bf5cf3ae/1387263547043/Windows-Live-Writer-c19b1f10a144_10D09-" />
	</figure>
	<div class="Teaser-body">
		<h2 class="Teaser-title">Super awesome something</h2>
		<p>read more</p>
	</div>
{{/link-to}}

{{#link-to 'detail' class="Teaser-wrap"}}
	<figure class="Teaser-media">
		<img class="lazyload"
				{{!-- src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" --}}
				alt=""
				src="http://cdn.minimalistbaker.com/wp-content/uploads/2015/08/EASY-2-Ingredient-Dark-Chocolate-VEGAN-TRUFFLES-Creamy-rich-SO-delicious-vegan-glutenfree-chocolate-truffles-coconut-dessert.jpg" />
	</figure>
	<div class="Teaser-body">
		<h2 class="Teaser-title">Super awesome something</h2>
	</div>
{{/link-to}}
{{#link-to 'detail' class="Teaser-wrap"}}
	<figure class="Teaser-media">
		<img class="lazyload"
				{{!-- src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" --}}
				alt=""
				src="https://s-media-cache-ak0.pinimg.com/474x/9a/41/65/9a41659bdaaa824a58f9377e125d6eda.jpg" />
	</figure>
	<div class="Teaser-body">
		<h2 class="Teaser-title">Gingernut Biscuit</h2>
		<p>#ginger #cookie #nut</p>
	</div>
{{/link-to}}
{{#link-to 'detail' class="Teaser-wrap"}}
	<figure class="Teaser-media">
		<img class="lazyload"
				{{!-- src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" --}}
				alt=""
				src="https://s-media-cache-ak0.pinimg.com/474x/62/5b/bc/625bbc4eec3dc7c4fee20f86f8a4fab0.jpg" />
	</figure>
	<div class="Teaser-body">
		<h2 class="Teaser-title">African Peanut Soup</h2>
		<p>#peanut #rice #kale</p>
	</div>
{{/link-to}}
{{#link-to 'detail' class="Teaser-wrap"}}
	<figure class="Teaser-media">
		<img class="lazyload"
				{{!-- src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" --}}
				alt=""
				src="https://static1.squarespace.com/static/546ab118e4b020f024f62077/54f4d9c8e4b0a2a4bf5bcbe5/54f4da13e4b0a2a4bf5cf3ae/1387263547043/Windows-Live-Writer-c19b1f10a144_10D09-" />
	</figure>
	<div class="Teaser-body">
		<h2 class="Teaser-title">Super awesome something</h2>
		<p>read more</p>
	</div>
{{/link-to}}

{{yield}}
