<div class="NavSocial">
	<a class='NavSocial-item' href="https://pinterest.com/kimberlyges/" target="_blank">
		<span data-grunticon-embed class="icon icon-pinterest"></span>
	</a>
	<a class='NavSocial-item' href="https://www.instagram.com/kimberlykashew/" target="_blank">
		<span data-grunticon-embed class="icon icon-instagram"></span>
	</a>
</div>

{{nav-main}}

<main class="App-main">
	{{!-- don't move the outlet without changing liquid.scss --}}
	{{!-- {{#if layout.onTravelSingle}}
		{{#nav-filter class="NavFilter--left NavFilter--sticky js-scrollTrigger Grid-cell Grid-cell--2"}}
			<h3>City</h3>
			{{#each model.acf.restaurant as |item|}}
			<button data="{{{item.name}}}">{{{item.name}}}</button>
		{{/each}}
		{{/nav-filter}}
	{{/if}} --}}
	{{liquid-outlet}}
</main>

<div class="Footer">
	<span>© Vunchies - 2016</span>
	{{!-- <span>/</span> --}}
	<span>
		{{#link-to "imprint" }}Imprint{{/link-to}}
	</span>
</div>
