<div class="NavSub-content mobileOnly">
	<div class="NavSub-wrap">
		{{#link-to 'travel.single' (query-params id=104) class="nav-pages"}}Ko Tao{{/link-to}}
	</div>
	<div class="NavSub-wrap">
		{{#link-to 'travel.single' (query-params id=101) class="nav-pages"}}Berlin{{/link-to}}
	</div>
</div>
{{outlet}}
