.Page {
	max-width: $max-width;
}
.Page-body {
	padding-left: rem($space*1.5);
	padding-bottom: rem($space*1);
	@media (min-width: $layout-m) {
		padding-left: rem($space*3);
		padding-right: rem($space);
	}
}
