/**
 * Teaser
 **/

.Teaser {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	max-width: rem(1000);
	margin: 0 auto;
	padding: 0 rem(5);

	a:hover,
	a:active {
		.Teaser-media {
			outline: 1px solid $black;
			img {
				filter: brightness(98%);
			}
		}
		.Teaser-body {
			position: relative;
			outline: 1px solid $black;
		}
	}
}
.Teaser-wrap {
	flex: rem(200);
	margin: rem(5);
}
.Teaser-media {
	@include ratio(1456,2177);
	margin-bottom: 0;
	overflow: hidden;

	img {
		transition: -webkit-filter 600ms $easing, transform 600ms $easing;
		@include ratio-inner;
		// transition: -webkit-filter 150ms $easing, transform 2000ms $easing;

		// without default values, the image will jump 1px in chrome on hover
		filter: brightness(1);
		backface-visibility: hidden;
		transform: translate3d(0,0,0);

		object-fit: cover;
	}
}
.Teaser-body {
	@include flexRow;
	flex-wrap: wrap;
	overflow: hidden;
	padding: 15px;
	margin: 0;
	background-color: $white;

	img {
		width: 14px;
		float: left;
	}
	p {
		font-size: 13px;
		margin: 0;
	}
}
.Teaser-title {
	text-transform: uppercase;
	margin-top: 0;
	flex: 1 100%;
	font-size: $font-15;

	@media (min-width: $layout-ml) {
		font-size: $font-17;
	}
}
.Teaser-categories {
	@include flexRow;
	flex-wrap: wrap;
	flex: 4;
	a {
		margin-right: rem(6);
		font-size: $font-14;
	}
}
.Teaser-tags {
	@include flexRow;
	align-self: baseline;
	flex: 1;
	padding-top: rem(2);
	justify-content: flex-end;
	margin-bottom: 0;

	li {
		margin: 0 rem(2);
	}
}
