.Grid {
	@include clearfix;

	// to avoid having to make the subtitle even smaller
	@media (min-width: $layout-s) {
		> * {
			float: left;
			width: (100% / 2);
			border-right: 2px solid $white;
			border-bottom: 2px solid $white;
		}
	}
	@media (min-width: $layout-m) {
		> * {
			float: left;
			width: (100% / 3);
		}
	}
}
