/**
 * Masonry settings
 */

.TeaserView {
	.Masonry-gutter {
		width: 1%;
	}
	.Masonry-sizer,
	.Teaser {
		z-index: 0;
		width: calc(99%/2);

		@media (min-width: $layout-s) {
			width: calc(98%/3);
		}
		@media (min-width: $layout-m) {
			width: calc(97%/4);
		}
		@media (min-width: $layout-ml) {
			width: calc(96%/5);
		}
	}
}

.Detail {
	.Masonry-gutter {
		width: 10px;
	}
	.DetailGrid-item {
		margin-bottom: 5px;
	}
	.Masonry-sizer,
	.DetailGrid-item {
		z-index: 0;

		@media (min-width: $layout-s) {
			width: calc(50% - 5px);
		}
	}
}


