/**
 * Teaser
 */

.TeaserView {
	padding: 0 0.5em;
}
.Teaser {
	> * {
		box-sizing: border-box;
	}

	text-decoration: none;
	float: left;
	margin-bottom: 1em;
	border: 1px solid $lightgrey;

	opacity: 0;

	&.is-loaded {
		opacity: 1;
		transition: opacity $easing2 1.4s;
	}

	&:hover,
	&:active {
		background-color: $white;
		border: 1px solid $black;
		transition: $easing2 0.5s;

		.Teaser-media img {
			filter: brightness(95%);
			transition: -webkit-filter 400ms $easing, transform 400ms $easing;
		}
		.Teaser-body {
			color: $black;
		}
	}
}

.Teaser-media {
	img {
		width: 100%;
		// filter: brightness(90%);
		// transition: -webkit-filter 400ms $easing, transform 400ms $easing;
	}
}
.Teaser-body {
	overflow: hidden;
	padding: 15px;
	margin: 0;

	img {
		width: 14px;
		float: left;
	}
	p {
		font-size: 13px;
		margin: 0;
	}
}
.Teaser-title {
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 0;
	font-size: $font-15;

	@media (min-width: $layout-ml) {
		font-size: $font-17;
	}
}
