<div class="Masonry js-isotope">
	<div class="Masonry-sizer"></div>
	<div class="Masonry-gutter"></div>
	{{#link-to 'about' class="Teaser sweets cake"}}
		<div class="Teaser-media">
			<img src="http://cdn.minimalistbaker.com/wp-content/uploads/2015/08/EASY-2-Ingredient-Dark-Chocolate-VEGAN-TRUFFLES-Creamy-rich-SO-delicious-vegan-glutenfree-chocolate-truffles-coconut-dessert.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser main"}}
		<div class="Teaser-media">
			<img src="https://s-media-cache-ak0.pinimg.com/736x/3a/3c/3e/3a3c3ecd6c58b8260676eb5f51d0a7fe.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser snacks"}}
		<div class="Teaser-media">
			<img src="https://s-media-cache-ak0.pinimg.com/474x/62/5b/bc/625bbc4eec3dc7c4fee20f86f8a4fab0.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">African Peanut Soup</h3>
			<p>#peanut #rice #kale</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser sweets cookie"}}
		<div class="Teaser-media">
			<img src="https://s-media-cache-ak0.pinimg.com/474x/9a/41/65/9a41659bdaaa824a58f9377e125d6eda.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Gingernut Biscuit</h3>
			<p>#ginger #cookie #nut</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser sweets pie"}}
		<div class="Teaser-media">
			<img src="https://static1.squarespace.com/static/546ab118e4b020f024f62077/54f4d9c8e4b0a2a4bf5bcbe5/54f4da13e4b0a2a4bf5cf3ae/1387263547043/Windows-Live-Writer-c19b1f10a144_10D09-" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser main"}}
		<div class="Teaser-media">
			<img src="https://s-media-cache-ak0.pinimg.com/474x/1f/e7/55/1fe755ea3855e30cca16f6210f2ea762.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser snacks"}}
		<div class="Teaser-media">
			<img src="http://p-fst1.pixstatic.com/5443f5ca697ab01cac0048fa/_w.540_s.fit_/Baked%20Fig%20&%20Date%20Oatmeal%20039.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser main"}}
		<div class="Teaser-media">
			<img src="https://s-media-cache-ak0.pinimg.com/474x/1e/25/49/1e25491743157042b58f207f98d2607e.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser sweets"}}
		<div class="Teaser-media">
			<img src="https://s-media-cache-ak0.pinimg.com/474x/2f/e9/b4/2fe9b486958f592901271febdfc160bc.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser breakfast"}}
		<div class="Teaser-media">
			<img src="https://s-media-cache-ak0.pinimg.com/474x/37/b7/34/37b734194b01ad3824bbec6bfb5961f0.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}

	{{#link-to 'about' class="Teaser main"}}
		<div class="Teaser-media">
			<img src="http://cdn3.minimalistbaker.com/wp-content/uploads/2014/07/Vegan-Cheesecake-Recipe.gif" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser sweets"}}
		<div class="Teaser-media">
			<img src="http://cdn3.minimalistbaker.com/wp-content/uploads/2014/07/Vegan-Peanut-Butter-Cup-Cheesecakes-9-ingredients-SO-creamy-and-perfectly-salty-sweet-Perfect-for-summer-birthdays-and-parties.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}
	{{#link-to 'about' class="Teaser breakfast"}}
		<div class="Teaser-media">
			<img src="http://www.theartfuldesperado.com/wp-content/uploads/2014/04/Mango-Lassi-Greek-Yogurt-Tarts-with-Almond-Crust61.jpg" alt="">
		</div>
		<p class="Teaser-body">
			<h3 class="Teaser-title">Super awesome something</h3>
			<p>read more</p>
		</p>
	{{/link-to}}
</div>

{{yield}}
