/**
 * Detail
 */

.Detail	{
	background: $white;

	@media (min-width: 656px) {
		@include flexRow;
		flex-wrap: wrap;
	}
}

/* Intro */

.DetailHead {
	@include flexRowWrap;
	padding-bottom: 30px;
}

.DetailHead-copy {
	max-width: rem(300);
	margin: auto;

	@media (max-width: 656px) {
		padding: rem(22) 0;
	}
}

.DetailHead-title {
	margin-bottom: 0.5em;
}

.DetailHead--reverse {
	flex-direction: row-reverse;
}

.DetailHead-body {
	padding: rem($space);
	margin: auto;

	@media (min-width: $layout-s) {
		padding: rem(10) 0;
	}

	p {
		@extend %font-light;
	}
}

.DetailHead-media {

	img {
		margin: 0 auto;
		width: 100%;
		object-fit: cover;
		height: 100%;
	}

	&.is-reversed {
		padding: rem($space*2);
	}

}

/* Ingredients */

.DetailInfo {
	max-width: 100%;
	border: 3px solid;
	padding-bottom: 0;

	h3,
	ul {
		margin: 30px;
		@media (max-width: $layout-s) {
			margin: 10px;
			font-size: 11px;
		}

		p {
			margin: 0;
		}
		em {
			text-decoration: underline;
		}
	}

	div:empty,
	p:empty {
		height: 0.8em;
	}
}

.DetailInfo-bottom {
	border-top: 3px solid $black;
	padding: rem(10) rem(30);
	background: $black;
	p {
		display: inline-block;
		margin: 0 10px 0 0;
		text-transform: lowercase;
		font-style: italic;
		color: $white;
		margin-bottom: 0;
	}
	a {
		color: $white;
		padding-bottom: rem(3);
		border-bottom: 2px solid $white;
	}
}
