/**
 * Detail
 */

.Detail	{
	background: $white;

	@media (min-width: 656px) {
		@include flexRow;
		flex-wrap: wrap;
	}
}


.TravelCopy {
	max-width: rem(660);

	text-align: center;
}

.TravelCopy-title {
	@extend %font-light;
	letter-spacing: 0.1em;
	font-size: $font-20;

	@media (min-width: $layout-s) {
		font-size: rem(30);
	}
	@media (min-width: $layout-ml) {
		font-size: $font-40;
	}
}

.TravelCopy-description {
	margin-bottom: rem(30);
}

.TravelCopy-address {
	min-width: rem(250);
}


/* Intro */

.DetailHead {
	@include flexRowWrap;
	padding-bottom: rem(10);

	@media (max-width: 656px) {
		padding-top: rem(22);
	}
}

.DetailHead-copy {
	max-width: rem(300);
	margin: auto;
}

.DetailHead-title {
	margin-bottom: 0.5em;
}

.DetailHead--reverse {
	flex-direction: row-reverse;
}

.DetailHead-body {
	padding: rem($space);
	margin: auto;

	@media (min-width: $layout-s) {
		padding: rem(10) 0;
	}

	p {
		@extend %font-light;
	}
}

.DetailHead-media {

	img {
		margin: 0 auto;
		width: 100%;
		object-fit: cover;
		height: 100%;
	}

	&.is-reversed {
		padding: rem($space*2);
	}

}


/* Items */

.DetailItem {
	margin: rem(15) auto;
	min-width: rem(300);
}

.DetailItem--text {
	@extend %font-light;
	letter-spacing: 0.05em;

	padding: rem(10);

	p:last-of-type {
		margin-bottom: 0;
	}
}

.DetailItem--full {
	padding: rem(15) 0;

	p:last-of-type {
		margin-bottom: 0;
	}
}

.DetailItem--half {
	padding: rem(15);
	padding-left: rem(30);

	&:last-of-type {
		padding-right: rem(30);
		padding-left: rem(15);
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.DetailItem--small {
	max-width: rem(380);
}

.DetailText-title {
	width: rem(70);
	padding-bottom: rem(10);
	margin-bottom: rem(15);
	border-bottom: 6px solid;
}

/* Ingredients */

.DetailInfo {
	border: 3px solid;
	padding-bottom: 0;

	h3,
	ul {
		margin: 30px;

		p {
			margin: 0;
		}
		em {
			text-decoration: underline;
		}
	}

	div:empty,
	p:empty {
		height: 0.8em;
	}
}

.DetailInfo-bottom {
	border-top: 3px solid $black;
	padding: rem(10) rem(30);
	background: $black;
	p {
		display: inline-block;
		margin: 0 10px 0 0;
		text-transform: lowercase;
		font-style: italic;
		color: $white;
		margin-bottom: 0;
	}
	a {
		color: $white;
		padding-bottom: rem(3);
		border-bottom: 2px solid $white;
	}
}
