.Grid {
	display: flex;
	flex-flow: row wrap;
}

.GridCol-full {
	@media (min-width: 656px) {
		flex: 1 100%;
	}
}
.GridCol-1 {
	@media (min-width: 656px) {
		flex: 1;
	}
}
.GridCol-2 {
	@media (min-width: 656px) {
		flex: 2;
	}
}
.GridCol-3 {
	@media (min-width: 656px) {
		flex: 3;
	}
}

// Make sure wrapper links are block
.Grid-item > a {
	display: block;
}

.Grid--full .Grid-item {
	margin-right: 0;
	margin-bottom: 0;
}
