/**
 * Header
 */

.Header {
	max-width: 95%;
	margin: rem(20) auto;
	text-align: center;
	padding-left: 3em;
}
.Header-inner {
	@media (max-width: $layout-m) {
		display: none;
	}
}
.Header-title {
	display: block;
	margin-top: 2em;

	h1 {
		margin-bottom: 0;
		font-size: $font-30;
		@media (min-width: $layout-s) {
			font-size: $font-35;
		}
		@media (min-width: $layout-m) {
			font-size: $font-40;
			margin-bottom: 0;
		}
		@media (min-width: $layout-ml) {
			font-size: 50px;
		}
	}
}


/* Mobile */
.on-mobile {
	.Header-inner {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		background-color: $white;
		width: 100%;
		height: 100vh;
		z-index: 5;
		padding-top: 3em;
	}
}
