/**
 * Header
 */

.Header {
	max-width: rem(1000);
	padding: 0 rem(10);
	margin: rem(20) auto;
	text-align: center;

	@media (max-width: 655px) {
		position: fixed;
		background: $white;
		width: 100%;
		z-index: 10;
		margin-top: 0;

		.Header-title {
			margin: rem(10) 0;
		}
	}
}
.Header-inner {
	@media (max-width: 655px) {
		display: none;
	}
}
.Header-title {
	display: block;
	margin-top: 2em;

	h1 {
		margin-bottom: 0;
		font-size: $font-30;
		@media (min-width: $layout-s) {
			font-size: $font-35;
		}
		@media (min-width: $layout-m) {
			font-size: $font-40;
			margin-bottom: 0;
		}
		@media (min-width: $layout-ml) {
			font-size: 50px;
		}
	}
}

/* Sticky */
// .is-sticky {
// 	.Header {
// 		background: red;
// 	}
// }

/* Mobile */
.on-mobile {
	.Header-inner {
		display: block;
		position: fixed;
		top: rem(38);
		left: 0;
		background-color: $white;
		width: 100%;
		height: 100vh;
		z-index: 5;
		@media (min-width: $layout-s) {
			top: 3em;
		}
	}
}
