html {
	min-height: 100%;
}

.App {
	overflow: hidden;
}
.App-main {
	@media (min-width: $layout-s) {
		padding-top: 4em;
	}
	@media (min-width: 650px) {
		padding-top: 0;
	}
	> .liquid-container,
	> .liquid-container > .liquid-child {
		min-height: 100%;
	}
}

.Section {
	padding: 2em 0;
}

.is-hidden {
	display: none;
}
.centered {
	text-align: center;
}
