html {
	min-height: 100%;
}

.App {
	overflow: hidden;
}
.App-main {
	> .liquid-container,
	> .liquid-container > .liquid-child {
		min-height: 100%;
	}
}

.Section {
	padding: 2em 0;
}
.is-hidden {
	display: none;
}
.centered {
	text-align: center;
}
.mobileOnly {
	@media (min-width: 656px) {
		display: none !important;
	}
}
.desktopOnly {
	@media (max-width: 656px) {
		display: none !important;
	}
}

.Imprint {
	text-align: center;
	margin: 100px auto;

	a {
		border-bottom: 2px solid;
		display: block;
		width: 135px;
		margin: 20px auto 0;
		font-size: 13px;
			font-style: italic;

		&:hover {
			color: $yellow;
		}
	}
}

.Footer {
	padding: 10px 20px 20px;

	span {
		font-size: 10px;
		margin-right: 10px;

		a {
			border-bottom: 2px solid;
			display: inline-block;
			width: 32px;
			font-style: italic;
			margin: 20px auto 0;

			&:hover {
				color: $yellow;
			}
		}
	}
}
