/**
 * Default list styles
 */

.list {
	&--centered {
		text-align: center;
	}
}

.list-item {
	display: inline-block;
	margin: 0 rem(5);

}

.listLink {
	margin: 20px auto;

	> div {
		overflow: hidden;
	    border: 2px solid;
	    width: auto;
	    display: inline-block;
	    padding: 10px 20px;
	    margin: 0 rem(20);
	}
}

.listLink-item {
	font-size: 15px;

	&:hover,
	&:active,
	&.is-active {
		color: $yellow;
	}
}
