/**
 * Travel
 */

/* Travel Overview */

.TravelOverview {
	a:hover {
		.Cover::after {
			background-color: rgba($white, 0.2);
		}
	}
	.Grid-cell {
		flex: rem(250);
		@media (min-width: 928px) {
			flex: rem(400);
		}
	}
}


/* Travel Single  */

.SectionTravel {
	.DetailHead {
		padding-bottom: rem(15);
	}

	.DetailHead-body {
		padding: 0;
	}
}

.TravelCopy {
	max-width: rem(660);

	text-align: center;
}

.TravelCopy-title {
	@extend %font-light;
	letter-spacing: 0.1em;
	font-size: $font-20;
	margin-bottom: 0.5em;

	@media (min-width: $layout-s) {
		font-size: rem(30);
	}
	@media (min-width: $layout-ml) {
		font-size: $font-40;
	}
}

.TravelCopy-description {
	margin-bottom: rem(30);
}

.TravelCopy-address {
	min-width: rem(250);
}

.TravelCopy-url {
	display: inline-block;
	margin-top: rem(20);
}

/* Intro */

.TravelDetail {
	@include flexRowWrap;
	padding-bottom: rem(10);

	&--reverse {
		flex-direction: row-reverse;
	}
}

.TravelDetail-body {
	padding: rem($space);
	margin: auto;

	@media (min-width: $layout-s) {
		padding: rem(10) 0;
	}

	p {
		@extend %font-light;
	}
}

.TravelDetail-cover {

	img {
		margin: 0 auto;
		width: 100%;
		object-fit: cover;
		height: 100%;
	}

	&.is-reversed {
		padding: rem($space*2);
	}

}
