{{#link-to 'application' class="Header-title" data-filter='*'}}
	<h1>vunchies</h1>
{{/link-to}}

<div class="Header-inner">
	<div class="Nav">
		<a href="#" data-filter='.sweets'>Basics</a>
		<a href="#" data-filter='.sweets'>Seasonal</a>
		<a href="#" data-filter='.sweets'>Breakfast</a>
		<a href="#" data-filter='.breakfast'>Salads</a>
		<a href="#" data-filter='.salad'>Dinner</a>
		<a href="#" data-filter='.main'>Sweets</a>
		<a href="#" data-filter='.snacks'>Snacks</a>
		<a href="#" data-filter='.snacks'>Sides</a>
		<a href="#" data-filter='.snacks'>Sauces</a>
		<span>/</span>
		{{#link-to 'about' class="Nav-static"}}Kitchen{{/link-to}}
		{{#link-to 'about' class="Nav-static"}}Cities{{/link-to}}
		{{#link-to 'about.contact' class="Nav-static"}}About{{/link-to}}
	</div>
	<div class="Nav Nav--sub is-hidden">
		<a href="#" data-filter='.cookie'>Spring</a>
		<a href="#" data-filter='.pie'>Summer</a>
		<a href="#" data-filter='.cake'>Fall</a>
		<a href="#" data-filter='.muffin'>Winter</a>
	</div>
</div>

{{yield}}
