{{nav-burger}}
{{#link-to "index" class="Logo"}}
	<h1>vunchies</h1>
	<h3>Vegan Munchies</h3>
{{/link-to}}

<div class="Header-inner">
	<div class="Nav">
		<div class="NavItemRecipes js-navToggleRecipes">
			{{#link-to "index" (query-params category="") class="NavItemRecipes-title"}}All Recipes
			{{/link-to}}
			<div class="NavSub js-nav-recipes is-hidden">
				{{!-- only nested in case there will be more content to be shown --}}
				<div class="NavSub-content">
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="basics")}}<h3>Basics</h3>{{/link-to}}
						{{#link-to "index" (query-params category="doughs")}}Doughs{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="smoothies")}}<h3>Smoothies / Beverages</h3>{{/link-to}}
						{{#link-to "index" (query-params category="smoothies")}}Smoothies{{/link-to}}
						{{#link-to "index" (query-params category="smoothie-bowls")}}Smoothie Bowls{{/link-to}}
						{{#link-to "index" (query-params category="cold-drinks")}}Cold Drinks{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="lunch")}}<h3>Lunch</h3>{{/link-to}}
						{{#link-to "index" (query-params category="sauce")}}<h3>Sauce / Dip</h3>{{/link-to}}
						{{#link-to "index" (query-params category="spread")}}<h3>Spread</h3>{{/link-to}}
						{{#link-to "index" (query-params category="sides")}}<h3>Sides</h3>{{/link-to}}
						{{#link-to "index" (query-params category="snacks")}}<h3>Snacks</h3>{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="baked")}}<h3>Baked goods</h3>{{/link-to}}
						{{#link-to "index" (query-params category="muffins")}}Muffins{{/link-to}}
						{{#link-to "index" (query-params category="cookies")}}Cookies{{/link-to}}
						{{#link-to "index" (query-params category="bread")}}Bread{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="cuisine")}}<h3>Cuisine</h3>{{/link-to}}
						{{#link-to "index" (query-params category="thai")}}Thai{{/link-to}}
						{{#link-to "index" (query-params category="vietnamese")}}Vietnamese{{/link-to}}
						{{#link-to "index" (query-params category="middle-eastern")}}Middle Eastern{{/link-to}}
						{{#link-to "index" (query-params category="mexican")}}Mexican{{/link-to}}
					</div>
				</div>
			</div>
		</div>
		{{#link-to "index" (query-params category="breakfast")}}Breakfast{{/link-to}}
		{{#link-to "index" (query-params category="salad")}}Salad{{/link-to}}
		{{#link-to "index" (query-params category="soup")}}Soup{{/link-to}}
		{{#link-to "index" (query-params category="dinner")}}Dinner{{/link-to}}
		{{#link-to "index" (query-params category="dessert")}}Dessert{{/link-to}}
		{{#link-to "index" (query-params category="cake")}}Cake{{/link-to}}
		<span>/</span>

		<div class="NavItemTravel js-navToggleTravelOverview">
			{{#link-to "travel" class="NavItemTravel-title"}}Travel
			{{/link-to}}
			<div class="NavSub js-nav-travel is-hidden">
				{{!-- only nested in case there will be more content to be shown --}}
				<div class="NavSub-content">
					<div class="NavSub-wrap">
						<h3>Europe</h3>
						{{#link-to "travel.single" 'amsterdam'}}Amsterdam{{/link-to}}
						{{#link-to "travel.single" 'bamberg'}}Bamberg{{/link-to}}
						{{#link-to "travel.single" 'berlin-germany' (query-params parent=101) }}Berlin{{/link-to}}
						{{#link-to "travel.single" 'florence'}}Florence{{/link-to}}
						{{#link-to "travel.single" 'rome'}}Rome{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						<h3>Asia</h3>
						{{#link-to "travel.single" 'ko-tao' }}Ko Tao{{/link-to}}
						{{#link-to "travel.single" 'ko-phangan'}}Ko Phangan{{/link-to}}
						{{#link-to "travel.single" 'bali'}}Bali{{/link-to}}
						{{#link-to "travel.single" 'gili-meno'}}Gili Meno{{/link-to}}
						{{#link-to "travel.single" 'gili-air'}}Gili Air{{/link-to}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div class="{{if layout.onTravel 'is-hidden'}}">
		{{#nav-filter}}
			<i class="icon-filter" data-grunticon-embed></i>
			{{#link-to "index" (query-params tag="gluten-free")}}Gluten free <i class="icon-gluten-free" data-grunticon-embed></i>{{/link-to}}
			{{#link-to "index" (query-params tag="soy-free")}}Soy free <i class="icon-soy-free" data-grunticon-embed></i>{{/link-to}}
			{{#link-to "index" (query-params tag="nut-free")}}Nut free <i class="icon-nut-free" data-grunticon-embed></i>{{/link-to}}
			{{#link-to "index" (query-params tag="sugar-free")}}Sugar free <i class="icon-sugar-free" data-grunticon-embed></i>{{/link-to}}
			{{#link-to "index" (query-params tag="raw")}}Raw <i class="icon-raw" data-grunticon-embed></i>{{/link-to}}
		{{/nav-filter}}
	</div> --}}
</div>

{{yield}}
