{{!-- {{#sticky-container}}
	{{/sticky-container}} --}}
{{nav-burger}}
<a href="/" class="Header-title">
	<h1>vunchies</h1>
	<h3>Vegan Munchies</h3>
</a>

<div class="Header-inner">
	<div class="Nav">
		<a href="/" class="js-navToggleRecipes">All Recipes
			<div class="NavSub is-hidden">
				{{!-- only nested in case there will be more content to be shown --}}
				<div class="NavSub-content">
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="basics")}}<h3>Basics</h3>{{/link-to}}
						{{#link-to "index" (query-params category="doughs")}}Doughs{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="smoothies")}}<h3>Smoothies / Beverages</h3>{{/link-to}}
						{{#link-to "index" (query-params category="smoothies")}}Smoothies{{/link-to}}
						{{#link-to "index" (query-params category="smoothie-bowls")}}Smoothie Bowls{{/link-to}}
						{{#link-to "index" (query-params category="cold-drinks")}}Cold Drinks{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="lunch")}}<h3>Lunch</h3>{{/link-to}}
						{{#link-to "index" (query-params category="sauce")}}<h3>Sauce / Dip</h3>{{/link-to}}
						{{#link-to "index" (query-params category="spread")}}<h3>Spread</h3>{{/link-to}}
						{{#link-to "index" (query-params category="sides")}}<h3>Sides</h3>{{/link-to}}
						{{#link-to "index" (query-params category="snacks")}}<h3>Snacks</h3>{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="baked")}}<h3>Baked goods</h3>{{/link-to}}
						{{#link-to "index" (query-params category="muffins")}}Muffins{{/link-to}}
						{{#link-to "index" (query-params category="cookies")}}Cookies{{/link-to}}
						{{#link-to "index" (query-params category="bread")}}Bread{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						{{#link-to "index" (query-params category="cuisine")}}<h3>Cuisine</h3>{{/link-to}}
						{{#link-to "index" (query-params category="thai")}}Thai{{/link-to}}
						{{#link-to "index" (query-params category="vietnamese")}}Vietnamese{{/link-to}}
						{{#link-to "index" (query-params category="middle-eastern")}}Middle Eastern{{/link-to}}
						{{#link-to "index" (query-params category="mexican")}}Mexican{{/link-to}}
					</div>
				</div>
			</div>
		</a>
		{{#link-to "index" (query-params category="breakfast")}}Breakfast{{/link-to}}
		{{#link-to "index" (query-params category="salad")}}Salad{{/link-to}}
		{{#link-to "index" (query-params category="soup")}}Soup{{/link-to}}
		{{#link-to "index" (query-params category="dinner")}}Dinner{{/link-to}}
		{{#link-to "index" (query-params category="dessert")}}Dessert{{/link-to}}
		{{#link-to "index" (query-params category="cake")}}Cake{{/link-to}}
		<span>/</span>
		<a href="/" class="js-navToggleTravel ">Travel
			<div class="NavSub is-hidden">
				{{!-- only nested in case there will be more content to be shown --}}
				<div class="NavSub-content">
					<div class="NavSub-wrap">
						{{#link-to 'travel.single' (query-params id=104) class="nav-pages"}}Ko Tao{{/link-to}}
					</div>
					<div class="NavSub-wrap">
						{{#link-to 'travel.single' (query-params id=101) class="nav-pages"}}Berlin{{/link-to}}
					</div>
				</div>
			</div>
			<div class="NavSubMobile is-hidden">
				{{#link-to 'travel.single' (query-params id=104) class="nav-pages"}}Ko Tao{{/link-to}}
				{{#link-to 'travel.single' (query-params id=101) class="nav-pages"}}Berlin{{/link-to}}
			</div>
		</a>

	</div>
	<div class="{{if layout.onTravel 'is-hidden'}}">
		{{nav-filter}}
	</div>
</div>

{{yield}}
