{{#link-to 'application' class="Header-title" data-filter='*'}}
	<h1>vunchies</h1>
{{/link-to}}

<div class="Header-inner">
	<div class="Nav">
		<a class="js-openSub" href="#" data='.sweets'>Basics</a>
		<a href="#" data='swee'>Breakfast</a>
		<a href="#" data='breakfast'>Salads</a>
		<a href="#" data='sns'>Soup</a>
		<a href="#" data='salad'>Dinner</a>
		<a href="#" data='main'>Dessert</a>
		<a href="#" data='snks'>Cake</a>
		<span>/</span>
		{{!-- {{#link-to 'about' class="Nav-static"}}Cuisine{{/link-to}} --}}
		{{#link-to 'about' class="Nav-static"}}Cities{{/link-to}}
		{{#link-to 'about.contact' class="Nav-static"}}About{{/link-to}}
	</div>
	<div class="Nav Nav--sub is-hidden">
		<a href="#" data-filter='.cookie'>Gluten free</a>
		<a href="#" data-filter='.pie'>Soy free</a>
		<a href="#" data-filter='.cake'>Nut free</a>
		<a href="#" data-filter='.cake'>Sugar free</a>
		<a href="#" data-filter='.muffin'>Raw</a>
	</div>
	<div class="Nav Nav--filter">
		<i class="icon-filter" data-grunticon-embed></i>
		<a href="#" data-filter='.cookie'>Gluten free</a>
		<a href="#" data-filter='.pie'>Soy free</a>
		<a href="#" data-filter='.cake'>Nut free</a>
		<a href="#" data-filter='.cake'>Sugar free</a>
		<a href="#" data-filter='.muffin'>Raw</a>
	</div>
</div>

{{yield}}
